<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ddossec.mapper.CkStockMapper">

    <resultMap type="CkStock" id="CkStockMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="skId" column="sk_id" jdbcType="VARCHAR"/>
        <result property="productId" column="product_id" jdbcType="VARCHAR"/>
        <result property="productName" column="product_name" jdbcType="VARCHAR"/>
        <result property="skAlarmUpper" column="sk_alarm_upper" jdbcType="INTEGER"/>
        <result property="skAlarmLower" column="sk_alarm_lower" jdbcType="INTEGER"/>
        <result property="skStorageMax" column="sk_storage_max" jdbcType="INTEGER"/>
        <result property="skStorageCurrent" column="sk_storage_current" jdbcType="INTEGER"/>
        <result property="uId" column="u_id" jdbcType="INTEGER"/>
        <result property="skRegisterDate" column="sk_register_date" jdbcType="TIMESTAMP"/>
        <result property="skCompany" column="sk_company" jdbcType="VARCHAR"/>
        <result property="skPrice" column="sk_price" jdbcType="NUMERIC"/>
        <result property="skDate" column="sk_date" jdbcType="TIMESTAMP"/>
        <result property="skEffectiveDate" column="sk_effective_date" jdbcType="TIMESTAMP"/>
        <result property="skModel" column="sk_model" jdbcType="VARCHAR"/>
        <result property="skCount" column="sk_count" jdbcType="INTEGER"/>
        <result property="skState" column="sk_state" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="CkStockMap">
        select
          id, sk_id, product_id, product_name, sk_alarm_upper, sk_alarm_lower, sk_storage_max, sk_storage_current, u_id, sk_register_date, sk_company, sk_price, sk_date, sk_effective_date, sk_model, sk_count, sk_state
        from erp.ck_stock
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="CkStockMap">
        select
          id, sk_id, product_id, product_name, sk_alarm_upper, sk_alarm_lower, sk_storage_max, sk_storage_current, u_id, sk_register_date, sk_company, sk_price, sk_date, sk_effective_date, sk_model, sk_count, sk_state
        from erp.ck_stock
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="CkStockMap">
        select
          id, sk_id, product_id, product_name, sk_alarm_upper, sk_alarm_lower, sk_storage_max, sk_storage_current, u_id, sk_register_date, sk_company, sk_price, sk_date, sk_effective_date, sk_model, sk_count, sk_state
        from erp.ck_stock
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="skId != null and skId != ''">
                and sk_id = #{skId}
            </if>
            <if test="productId != null and productId != ''">
                and product_id = #{productId}
            </if>
            <if test="productName != null and productName != ''">
                and product_name = #{productName}
            </if>
            <if test="skAlarmUpper != null">
                and sk_alarm_upper = #{skAlarmUpper}
            </if>
            <if test="skAlarmLower != null">
                and sk_alarm_lower = #{skAlarmLower}
            </if>
            <if test="skStorageMax != null">
                and sk_storage_max = #{skStorageMax}
            </if>
            <if test="skStorageCurrent != null">
                and sk_storage_current = #{skStorageCurrent}
            </if>
            <if test="uId != null">
                and u_id = #{uId}
            </if>
            <if test="skRegisterDate != null">
                and sk_register_date = #{skRegisterDate}
            </if>
            <if test="skCompany != null and skCompany != ''">
                and sk_company = #{skCompany}
            </if>
            <if test="skPrice != null">
                and sk_price = #{skPrice}
            </if>
            <if test="skDate != null">
                and sk_date = #{skDate}
            </if>
            <if test="skEffectiveDate != null">
                and sk_effective_date = #{skEffectiveDate}
            </if>
            <if test="skModel != null and skModel != ''">
                and sk_model = #{skModel}
            </if>
            <if test="skCount != null">
                and sk_count = #{skCount}
            </if>
            <if test="skState != null">
                and sk_state = #{skState}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into erp.ck_stock(sk_id, product_id, product_name, sk_alarm_upper, sk_alarm_lower, sk_storage_max, sk_storage_current, u_id, sk_register_date, sk_company, sk_price, sk_date, sk_effective_date, sk_model, sk_count, sk_state)
        values (#{skId}, #{productId}, #{productName}, #{skAlarmUpper}, #{skAlarmLower}, #{skStorageMax}, #{skStorageCurrent}, #{uId}, #{skRegisterDate}, #{skCompany}, #{skPrice}, #{skDate}, #{skEffectiveDate}, #{skModel}, #{skCount}, #{skState})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update erp.ck_stock
        <set>
            <if test="skId != null and skId != ''">
                sk_id = #{skId},
            </if>
            <if test="productId != null and productId != ''">
                product_id = #{productId},
            </if>
            <if test="productName != null and productName != ''">
                product_name = #{productName},
            </if>
            <if test="skAlarmUpper != null">
                sk_alarm_upper = #{skAlarmUpper},
            </if>
            <if test="skAlarmLower != null">
                sk_alarm_lower = #{skAlarmLower},
            </if>
            <if test="skStorageMax != null">
                sk_storage_max = #{skStorageMax},
            </if>
            <if test="skStorageCurrent != null">
                sk_storage_current = #{skStorageCurrent},
            </if>
            <if test="uId != null">
                u_id = #{uId},
            </if>
            <if test="skRegisterDate != null">
                sk_register_date = #{skRegisterDate},
            </if>
            <if test="skCompany != null and skCompany != ''">
                sk_company = #{skCompany},
            </if>
            <if test="skPrice != null">
                sk_price = #{skPrice},
            </if>
            <if test="skDate != null">
                sk_date = #{skDate},
            </if>
            <if test="skEffectiveDate != null">
                sk_effective_date = #{skEffectiveDate},
            </if>
            <if test="skModel != null and skModel != ''">
                sk_model = #{skModel},
            </if>
            <if test="skCount != null">
                sk_count = #{skCount},
            </if>
            <if test="skState != null">
                sk_state = #{skState},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from erp.ck_stock where id = #{id}
    </delete>

</mapper>