<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ddossec.mapper.WarehouseInboundMapper">

    <resultMap type="WarehouseInbound" id="WarehouseInboundMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="inboundId" column="inbound_id" jdbcType="VARCHAR"/>
        <result property="storer" column="storer" jdbcType="VARCHAR"/>
        <result property="reason" column="reason" jdbcType="VARCHAR"/>
        <result property="amountSum" column="amount_sum" jdbcType="INTEGER"/>
        <result property="costPriceSum" column="cost_price_sum" jdbcType="NUMERIC"/>
        <result property="gatheredAmountSum" column="gathered_amount_sum" jdbcType="INTEGER"/>
        <result property="pemark" column="pemark" jdbcType="VARCHAR"/>
        <result property="register" column="register" jdbcType="VARCHAR"/>
        <result property="registerTime" column="register_time" jdbcType="TIMESTAMP"/>
        <result property="checker" column="checker" jdbcType="VARCHAR"/>
        <result property="checkTime" column="check_time" jdbcType="TIMESTAMP"/>
        <result property="checkTag" column="check_tag" jdbcType="VARCHAR"/>
        <result property="attemper" column="attemper" jdbcType="VARCHAR"/>
        <result property="attemperTime" column="attemper_time" jdbcType="TIMESTAMP"/>
        <result property="storeTag" column="store_tag" jdbcType="VARCHAR"/>
    </resultMap>

    <!--新增入库申请登记-->
    <insert id="insertWarehousing" useGeneratedKeys="true" keyProperty="id" parameterType="WarehouseInbound">
        insert into erp.Warehouse_inbound(inbound_id,storer,reason,amount_sum,cost_price_sum,register,register_time,pemark)
        values (#{inboundId}, #{storer}, #{reason}, #{amountSum}, #{costPriceSum}, #{register}, #{registerTime}, #{pemark})
    </insert>

    <!--入库申请审核-->
    <update id="updateWarehousing">
        update erp.Warehouse_inbound set check_tag = #{check_tag},check_time = #{check_time},checker = #{checker}
        where inbound_id = #{inbound_id}
    </update>


</mapper>