<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ddossec.mapper.Production_orderMapper">
    <select id="findAllProductionOrder" resultType="cn.ddossec.domain.Production_order">
        SELECT * from production_order WHERE production_generate = '未生成';
    </select>

    <insert id="insertProductionOrder">
        INSERT into production_order(schedule_id,product_id,product_name,quantity,qutbound_order_id,review_time) VALUES(#{schedule_id},#{product_id},#{product_name},#{quantity},#{qutbound_order_id},#{review_time})
    </insert>

    <update id="updateProductionOrder">
        UPDATE production_order SET production_generate = '已生成' where id = #{id}
    </update>

    <select id="selectById" resultType="cn.ddossec.domain.Production_order">
        SELECT * FROM production_order WHERE id = #{id}
    </select>

    <select id="findByProduction_generate" resultType="cn.ddossec.domain.Production_order">
        SELECT *  from production_order WHERE  checked_audit = '未审核'
    </select>

    <update id="updatechecked_audit">
        UPDATE production_order SET checked_audit = '已审核' where id = #{id}
    </update>

</mapper>