<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ddossec.mapper.Production_process_design_sheetMapper">
    <insert id="addProduction_process_design_sheet">
          INSERT into production_process_design_sheet(product_name,design_id,product_designer,product_registrant,esign_require,design_date,design_number) values(#{product_name},#{design_id},#{product_designer},#{product_registrant},#{esign_require},#{design_date},#{design_number})

    </insert>

    <select id="findAll" resultType="cn.ddossec.domain.Production_process_design_sheet">

          SELECT * from production_process_design_sheet
    </select>
</mapper>