<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ddossec.mapper.Product_designprocessMapper">
    <insert id="insertProduction_modesign_procedure">
          INSERT INTO product_designprocess (process_name,process_id,process_describe,process_time_gs,process_time_unitdw,process_subtotal,design_id,process_time_cost)
          values(#{process_name},#{process_id},#{process_describe},#{process_time_gs},#{process_time_unitdw},#{process_subtotal},#{design_id},#{process_time_cost})

    </insert>
    <update id="updateByid">

        update  product_designprocess
        <trim prefix="set" suffixOverrides=",">
            <if test="process_name!=null">process_name=#{process_name},</if>
            <if test="process_id!=null">process_id=#{process_id},</if>
            <if test="process_describe!=null">process_describe=#{process_describe},</if>
            <if test="process_time_gs!=null">process_time_gs=#{process_time_gs},</if>
            <if test="process_time_unitdw!=null">process_time_unitdw=#{process_time_unitdw},</if>
            <if test="process_subtotal!=null">process_subtotal=#{process_subtotal},</if>
            <if test="process_time_cost!=null">process_time_cost=#{process_time_cost},</if>
        </trim>
        where id=#{id}
    </update>


    <select id="findAllProduction_modesign_procedure"
            resultType="cn.ddossec.domain.Product_designprocess">

select * from product_designprocess


    </select>
    <select id="findDId" resultType="cn.ddossec.domain.Product_designprocess">
        select * from  product_designprocess where  design_id = #{design_id}
    </select>
</mapper>