<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ddossec.mapper.Production_mdesign_procedureMapper">

    <select id="findAllProduction_mdesign_procedure" resultType="cn.ddossec.domain.Production_mdesign_procedure">
    SELECT * FROM production_mdesign_procedure WHERE design_module_tag NOT IN ('D002');
    </select>

    <delete id="delProduction_mdesign_procedureById">
        DELETE FROM production_mdesign_procedure WHERE id = #{id}
    </delete>

    <insert id="insertProduction_mdesign_procedure">
        INSERT INTO production_mdesign_procedure (design_id,product_name,product_stair_classify,register,register_time,product_designer,design_module_tag)
        values(#{design_id},#{product_name},#{product_stair_classify},#{register},#{register_time},#{product_designer},'D001')


    </insert>

    <update id="updateProduction_mdesign_procedure">
        update  production_mdesign_procedure
        <trim prefix="set" suffixOverrides=",">
            <if test="design_id!=null">design_id=#{design_id},</if>
            <if test="first_kind_id!=null">first_kind_id=#{first_kind_id},</if>
            <if test="first_kind_name!=null">first_kind_name=#{first_kind_name},</if>
            <if test="procedure_id!=null">procedure_id=#{procedure_id},</if>
            <if test="procedure_name!=null">procedure_name=#{procedure_name},</if>
            <if test="labour_hour_amount!=null">labour_hour_amount=#{labour_hour_amount},</if>
            <if test="procedurce_describe!=null">procedurce_describe=#{procedurce_describe},</if>
            <if test="amount_unit!=null">amount_unit=#{amount_unit},</if>
            <if test="cost_price!=null">cost_price=#{cost_price},</if>
            <if test="subtotal!=null">subtotal=#{subtotal},</if>
            <if test="module_subtotal!=null">module_subtotal=#{module_subtotal},</if>
            <if test="register!=null">register=#{register},</if>
            <if test="register_time!=null">register_time=#{register_time},</if>
            <if test="design_module_tag!=null">design_module_tag=#{design_module_tag},</if>
            <if test="design_module_change_tag!=null">design_module_change_tag=#{design_module_change_tag},</if>
        </trim>
        where id=#{id}
    </update>

    <select id="selectById" resultType="cn.ddossec.domain.Production_mdesign_procedure">
        SELECT * FROM production_mdesign_procedure WHERE id = #{id}
    </select>
    <select id="findAllProduction_mdesign_procedure_sh"
            resultType="cn.ddossec.domain.Production_mdesign_procedure">


          SELECT * FROM production_mdesign_procedure WHERE design_module_tag  IN ('D002');
    </select>

</mapper>