<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ddosec.design.mapper.product_design_materialmapper">
    <resultMap id="BaseResultMap" type="cn.ddosec.design.pojo.product_design_material">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="design_id" property="designId" jdbcType="VARCHAR"/>
        <result column="product_id" property="productId" jdbcType="VARCHAR"/>
        <result column="product_name" property="productName" jdbcType="VARCHAR"/>
        <result column="designer" property="designer" jdbcType="VARCHAR"/>
        <result column="module_describe" property="moduleDescribe" jdbcType="VARCHAR"/>
        <result column="cost_price_sum" property="costPriceSum" jdbcType="DOUBLE"/>
        <result column="register" property="register" jdbcType="VARCHAR"/>
        <result column="register_time" property="registerTime" jdbcType="VARCHAR"/>
        <result column="checker" property="checker" jdbcType="VARCHAR"/>
        <result column="check_time" property="checkTime" jdbcType="VARCHAR"/>
        <result column="changer" property="changer" jdbcType="VARCHAR"/>
        <result column="change_time" property="changeTime" jdbcType="VARCHAR"/>
        <result column="check_tag" property="checkTag" jdbcType="VARCHAR"/>
        <result column="change_tag" property="changeTag" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        <if test="fields == null">
            id, design_id, product_id, product_name, designer, module_describe, cost_price_sum,
            register, register_time, checker, check_time, changer, change_time, check_tag, change_tag
        </if>
        <if test="fields != null">
            ${fields}
        </if>
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="cn.ddosec.design.pojo.product_design_materialQuery">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from product_design_material
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        id,design_id,product_id,product_name,designer,module_describe,cost_price_sum,register,register_time,checker,check_time,changer,change_time,check_tag,change_tag
        from product_design_material
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from product_design_material
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="cn.ddosec.design.pojo.product_design_materialQuery">
        delete from product_design_material
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="cn.ddosec.design.pojo.product_design_material">
        insert into product_design_material (id, design_id, product_id,
        product_name, designer, module_describe,
        cost_price_sum, register, register_time,
        checker, check_time, changer,
        change_time, check_tag, change_tag
        )
        values (#{id,jdbcType=INTEGER}, #{designId,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR},
        #{productName,jdbcType=VARCHAR}, #{designer,jdbcType=VARCHAR}, #{moduleDescribe,jdbcType=VARCHAR},
        #{costPriceSum,jdbcType=DOUBLE}, #{register,jdbcType=VARCHAR}, #{registerTime,jdbcType=VARCHAR},
        #{checker,jdbcType=VARCHAR}, #{checkTime,jdbcType=VARCHAR}, #{changer,jdbcType=VARCHAR},
        #{changeTime,jdbcType=VARCHAR}, #{checkTag,jdbcType=VARCHAR}, #{changeTag,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="cn.ddosec.design.pojo.product_design_material">
        insert into product_design_material
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="designId != null">
                design_id,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="productName != null">
                product_name,
            </if>
            <if test="designer != null">
                designer,
            </if>
            <if test="moduleDescribe != null">
                module_describe,
            </if>
            <if test="costPriceSum != null">
                cost_price_sum,
            </if>
            <if test="register != null">
                register,
            </if>
            <if test="registerTime != null">
                register_time,
            </if>
            <if test="checker != null">
                checker,
            </if>
            <if test="checkTime != null">
                check_time,
            </if>
            <if test="changer != null">
                changer,
            </if>
            <if test="changeTime != null">
                change_time,
            </if>
            <if test="checkTag != null">
                check_tag,
            </if>
            <if test="changeTag != null">
                change_tag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="designId != null">
                #{designId,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=VARCHAR},
            </if>
            <if test="productName != null">
                #{productName,jdbcType=VARCHAR},
            </if>
            <if test="designer != null">
                #{designer,jdbcType=VARCHAR},
            </if>
            <if test="moduleDescribe != null">
                #{moduleDescribe,jdbcType=VARCHAR},
            </if>
            <if test="costPriceSum != null">
                #{costPriceSum,jdbcType=DOUBLE},
            </if>
            <if test="register != null">
                #{register,jdbcType=VARCHAR},
            </if>
            <if test="registerTime != null">
                #{registerTime,jdbcType=VARCHAR},
            </if>
            <if test="checker != null">
                #{checker,jdbcType=VARCHAR},
            </if>
            <if test="checkTime != null">
                #{checkTime,jdbcType=VARCHAR},
            </if>
            <if test="changer != null">
                #{changer,jdbcType=VARCHAR},
            </if>
            <if test="changeTime != null">
                #{changeTime,jdbcType=VARCHAR},
            </if>
            <if test="checkTag != null">
                #{checkTag,jdbcType=VARCHAR},
            </if>
            <if test="changeTag != null">
                #{changeTag,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="cn.ddosec.design.pojo.product_design_materialQuery"
            resultType="java.lang.Integer">
        select count(*) from product_design_material
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update product_design_material
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.designId != null">
                design_id = #{record.designId,jdbcType=VARCHAR},
            </if>
            <if test="record.productId != null">
                product_id = #{record.productId,jdbcType=VARCHAR},
            </if>
            <if test="record.productName != null">
                product_name = #{record.productName,jdbcType=VARCHAR},
            </if>
            <if test="record.designer != null">
                designer = #{record.designer,jdbcType=VARCHAR},
            </if>
            <if test="record.moduleDescribe != null">
                module_describe = #{record.moduleDescribe,jdbcType=VARCHAR},
            </if>
            <if test="record.costPriceSum != null">
                cost_price_sum = #{record.costPriceSum,jdbcType=DOUBLE},
            </if>
            <if test="record.register != null">
                register = #{record.register,jdbcType=VARCHAR},
            </if>
            <if test="record.registerTime != null">
                register_time = #{record.registerTime,jdbcType=VARCHAR},
            </if>
            <if test="record.checker != null">
                checker = #{record.checker,jdbcType=VARCHAR},
            </if>
            <if test="record.checkTime != null">
                check_time = #{record.checkTime,jdbcType=VARCHAR},
            </if>
            <if test="record.changer != null">
                changer = #{record.changer,jdbcType=VARCHAR},
            </if>
            <if test="record.changeTime != null">
                change_time = #{record.changeTime,jdbcType=VARCHAR},
            </if>
            <if test="record.checkTag != null">
                check_tag = #{record.checkTag,jdbcType=VARCHAR},
            </if>
            <if test="record.changeTag != null">
                change_tag = #{record.changeTag,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update product_design_material
        set id = #{record.id,jdbcType=INTEGER},
        design_id = #{record.designId,jdbcType=VARCHAR},
        product_id = #{record.productId,jdbcType=VARCHAR},
        product_name = #{record.productName,jdbcType=VARCHAR},
        designer = #{record.designer,jdbcType=VARCHAR},
        module_describe = #{record.moduleDescribe,jdbcType=VARCHAR},
        cost_price_sum = #{record.costPriceSum,jdbcType=DOUBLE},
        register = #{record.register,jdbcType=VARCHAR},
        register_time = #{record.registerTime,jdbcType=VARCHAR},
        checker = #{record.checker,jdbcType=VARCHAR},
        check_time = #{record.checkTime,jdbcType=VARCHAR},
        changer = #{record.changer,jdbcType=VARCHAR},
        change_time = #{record.changeTime,jdbcType=VARCHAR},
        check_tag = #{record.checkTag,jdbcType=VARCHAR},
        change_tag = #{record.changeTag,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="cn.ddosec.design.pojo.product_design_material">
        update product_design_material
        <set>
            <if test="designId != null">
                design_id = #{designId,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                product_id = #{productId,jdbcType=VARCHAR},
            </if>
            <if test="productName != null">
                product_name = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="designer != null">
                designer = #{designer,jdbcType=VARCHAR},
            </if>
            <if test="moduleDescribe != null">
                module_describe = #{moduleDescribe,jdbcType=VARCHAR},
            </if>
            <if test="costPriceSum != null">
                cost_price_sum = #{costPriceSum,jdbcType=DOUBLE},
            </if>
            <if test="register != null">
                register = #{register,jdbcType=VARCHAR},
            </if>
            <if test="registerTime != null">
                register_time = #{registerTime,jdbcType=VARCHAR},
            </if>
            <if test="checker != null">
                checker = #{checker,jdbcType=VARCHAR},
            </if>
            <if test="checkTime != null">
                check_time = #{checkTime,jdbcType=VARCHAR},
            </if>
            <if test="changer != null">
                changer = #{changer,jdbcType=VARCHAR},
            </if>
            <if test="changeTime != null">
                change_time = #{changeTime,jdbcType=VARCHAR},
            </if>
            <if test="checkTag != null">
                check_tag = #{checkTag,jdbcType=VARCHAR},
            </if>
            <if test="changeTag != null">
                change_tag = #{changeTag,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.ddosec.design.pojo.product_design_material">
        update product_design_material
        set design_id = #{designId,jdbcType=VARCHAR},
        product_id = #{productId,jdbcType=VARCHAR},
        product_name = #{productName,jdbcType=VARCHAR},
        designer = #{designer,jdbcType=VARCHAR},
        module_describe = #{moduleDescribe,jdbcType=VARCHAR},
        cost_price_sum = #{costPriceSum,jdbcType=DOUBLE},
        register = #{register,jdbcType=VARCHAR},
        register_time = #{registerTime,jdbcType=VARCHAR},
        checker = #{checker,jdbcType=VARCHAR},
        check_time = #{checkTime,jdbcType=VARCHAR},
        changer = #{changer,jdbcType=VARCHAR},
        change_time = #{changeTime,jdbcType=VARCHAR},
        check_tag = #{checkTag,jdbcType=VARCHAR},
        change_tag = #{changeTag,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
